-i https://pypi.org/simple
autopep8==2.0.4; python_version >= '3.6'
certifi==2023.11.17; python_version >= '3.6'
distlib==0.3.7
filelock==3.13.1; python_version >= '3.8'
flake8==6.1.0; python_full_version >= '3.8.1'
isort==5.12.0; python_full_version >= '3.8.0'
mccabe==0.7.0; python_version >= '3.6'
pipenv==2023.11.15; python_version >= '3.8'
platformdirs==4.0.0; python_version >= '3.7'
pycodestyle==2.11.1; python_version >= '3.8'
pyflakes==3.1.0; python_version >= '3.8'
setuptools==69.0.2; python_version >= '3.8'
tomli==2.0.1; python_version < '3.11'
virtualenv==20.24.7; python_version >= '3.7'
click==8.1.7; python_version >= '3.7'
numpy==1.26.2; python_version >= '3.10'
opencv-python==4.8.1.78; python_version >= '3.6'
pillow==10.1.0; python_version >= '3.8'
